=image_tag 'contact.webp', width: '100%'

.tops-wrapper.center
 h2.headline 働きやすい職場環境づくり推進【介護と仕事の両立推進事業】社外周知

p
  = link_to "ダウンロード", "/uploads/post/file/6/share.pdf", class:"btn btn-danger"
br
br
p
   = link_to "トップページへ戻る", "/", class:"btn btn-primary"
br
br
