=image_tag 'contact.webp', width: '100%'

.tops-wrapper.center
 h2.headline 下記よりシューマツワーカー概要資料がダウンロード出来ます。

p
  = link_to "シューマツワーカー資料ダウンロード開始", "/uploads/post/file/6/syumatu資料.pdf", class:"btn btn-danger"
br
br
p
   = link_to "トップページへ戻る", "/", class:"btn btn-primary"
br
br
