.tops-wrapper
br
   h2.headline 約款
   br
   p
       | ※約款を必ずお読みの上、ご応募下さい。
   br
   .infobox
    |本契約はテレフォンアポインター（以下、「甲」という。）と、株式会社Ri-Plus（以下、「乙」という。）とは、甲から乙への業務の委託に関し、次のとおり契約（以下、「本契約」という。）を締結する。
    br
    |第１条（目的）
    |本契約は甲乙相互間の信頼に基づく公正な取引関係を確立し、相互の利益と事業の発展をはかることを目的とする。なお、委託業務遂行に関する事務取扱の細目については、本契約の各条項で定めるほか、甲乙協議の上取り決めるものとする。
    br
    |第２条（業務委託）
    |甲は、次に定める業務（以下、「委託業務」という。）の全部又は一部を乙に委託し、乙はこれを受託する。
    |①乙の提供するサービスに関するテレフォンアポイントならびにそれに付随する一切の業務
    |②入力・報告に付随する一切の業務
    |③その他甲乙協議の上決定された業務
    br
    |第３条（委託業務の具体的な内容）
    |１　乙の業務対応時間は月曜日から金曜日の午前９時から午後１６時４５分とする。尚、１２時から１３時は休憩時間とし、業務対応時間外とする。
    |２　甲の稼働可能時間は月曜日から金曜日の午前９時から午後１６時４５分とする。尚、１２時から１３時は休憩時間とし、業務時間外とする。
    |３　甲又は乙は必要があるときは委託業務の内容、実施方法等の変更及び追加等を相手方に請求することができるものとする。この場合、甲乙協議の上、委託業務の内容、実施方法、業務委託料などを改めて決定するものとする。
    |４　甲は、稼働を行う場合、１時間あたり平均約３０コール以上の架電を行うものとする。
    |５　甲は、アポイントメントが獲得出来た場合、速やかに乙に報告を行うものとする。尚、報告後に不備が発生した場合、速やかに甲は修正対応を行うものとする。
    br
    |第４条（契約期間）
    |１　本契約の契約期間は、契約日から１年間とする。その後、双方からの契約解除の申し出が無い限り本契約は自動的に1ヶ月毎に更新されるものとする。
    |２　乙は、業務に稼働姿勢やテレフォンアポインターの売上に基づき、本契約を即日解除する権限を持つ。
    |３　甲は、本契約を解除する場合、提出シフト終了日を持って終了する事が出来る。尚、次回シフト提出時迄に、乙に報告を行うものとする。
    br
    |第５条（請求書）
    |１　乙は、毎月月末で締めたの獲得件数より単価を算出し、翌月２５日迄に支払いを行うものとする。但し、当日が営業時間外の場合、翌営業日が支払い日となる。
    |２　乙は、請求書に基づき支払いを行うものとする。万一、甲が請求書を発行出来ない場合、獲得日の翌月末を最終有効期限として支払い役務を終了するものとする。
    |3    １は、キャンセルとなったアポイント件数は除外するものとする。
    br
    |第６条（報酬）
    |１　業務委託報酬は別紙において乙より共有を行うものとする。尚、獲得難易度に応じて毎月成功報酬については見直しがかかることを甲は同意するものとする。
    br
    |第８条（機密保持）
    |１．甲及び乙は、本契約に関して知り得た相手方の営業上、経営上及び技術上の機密を、相手方の事前の承諾を得ることなく第三者に漏洩し、又は、本契約内容遂行の目的以外に利用してはならないものとする。これは本契約終了後5年間も同様とする。
    |２．甲及び乙は､本契約の締結及び委託業務の履行に際して知り得た個人情報については、個人情報保護法及び関連法令等に従い、その利用目的として開示した目的以外に使用せず、又、本人の承諾を得ることなく第三者に開示・提供等してはならないものとする。
    br
    |第９条（損害賠償・違約金）
    |１．甲又は乙は、本契約の履行に関し、本契約に違反し、又は、その責に帰すべき事由により相手方に損害を与えた場合、相手方が被った直接、かつ、現実の損害を賠償する責めに任じることとする。
    br
    |第１０条（期限の利益喪失）
    |甲が以下の各号のいずれかに該当したときは、甲は当然に本契約及びその他乙との間で締結した契約から生じる一切の債務について期限の利益を失い、甲は乙に対して負担する一切の債務を直ちに一括して弁済しなければならない。
    |①本契約の条項に違反したとき
    |②監督官庁から営業停止又は営業免許、営業許可もしくは営業登録の取消等の処分を受けたとき
    |③差押、仮差押、仮処分、強制執行、担保権の実行としての競売、租税滞納処分又はこれらに準じる手続が開始されたとき
    |④破産、民事再生、会社更生又は特別清算の手続開始決定等の申立がなされたとき
    |⑤自ら振り出し又は引き受けた手形もしくは小切手が一度でも不渡りになったとき、又は支払停止状態に陥ったとき
    |⑥その他財産状態が悪化し、又はその恐れがあると認められる相当の事由があるとき
    |⑦前各号のほか、乙に対する背信的行為を行うなど、著しく甲乙間の信頼関係を悪化させる事由があったとき
    br
    |第１１条（契約の解除）
    |１　乙は、甲が前条各号のいずれかに該当した場合、何らの催告なくして直ちに本契約の全部又は一部を解除することができる。なお、この契約解除は乙から甲に対する損害賠償の請求を妨げない。
    |２　甲が乙に対して合理的な理由によらない過度なクレームを主張してきた場合、乙は本契約を将来に向かって解除することができるものとする。なお、この場合、乙は甲に対して､受領済みの報酬等を一切返還する義務を負わないものとする。
    br
    |第１２条（存続規定）
    |第７条、第１０条（但し、第１項については契約終了後５年間に限る。）、第１２条、第１３条、本条、及び、第１５条の規定は、本契約終了後においても、なお、効力を有するものとする。
    br
    |第１３条（準拠法、合意管轄）
    |本契約の準拠法は日本法とする。本契約から発生する一切の紛争について訴訟の必要を生じた場合には、東京地方裁判所及び東京簡易裁判所を第一審の専属的合意管轄裁判所とする。

   == render 'form'
