.tops-wrapper
br
  h2.headline 約款
  br
  p
      | ※約款を必ずお読みの上、ご応募下さい。
  br
  .infobox
    | 私は（乙という。）、株式会社Ri-Plus（以下、「乙」という。）と次のとおり約款に基づき（以下、「本件契約」という。）を締結する。尚、約款は乙が採用を承諾した際のみ効力を発する。
    br
    br
    |第1条（委託業務） 乙は甲に対し、以下に定める業務（以下「本業務」という）を委託し、甲はこれを受託する。 
    br
    | 1.テレフォンアポイント獲得業務
    br
    br
    |第2条（委託料） 
    br
    | 1.乙は甲に対し、本業業務の委託料として時間給と成果報酬（消費税込）を支払う。 
    br
    | 2.甲は、月末締め翌月１５日までに、乙に請求書を発行するものとする。振込手数料は乙が負担するものとする。 2.支払日が乙の営業日でない場合、後日払いとする。 3.支払日時点で連絡が取れない事象が発生する場合や本人確認が取れない場合、請求書が発行されない場合に乙は一時的に支払いを延期することとする。
    br
    br
    |第3条（業務の基準） 甲は誠意的に業務を行うものとし、以下の業務基準を満たすものとする。
    br
    | 1.乙の営業日を理解し、執拗な業務催促は行わないものとする。 
    br
    | 2.長期的に稼働を行う場合、事前に稼働時間を乙に申告し、その稼働時間を厳守するものとする。
    br
    | 3.架電を行う時間は乙の定める時間範囲内で行うものとする。 
    br
    | 4.相当な緊急性を要する場合を除き、乙への電話問合せは行わず、乙の指定するチャットツールにて連絡対応を行うものとする。 
    br
    | 5.長期的に稼働を行う場合、月間最低10時間は業務に時間を割かなければならない。 
    br
    | 6.コールを行う時間においては、1時間あたり20callを目標コール数とする。著しくそれを満たさない場合、業務停止を命令する場合がある。 
    br
    | 7.成功報酬の役務はアポ獲得時に発生する。但し、その後訪問において内容相違やキャンセルがあった場合、アポ失注と判断し、成功報酬にはカウントしない場合がある。
    br
    br
    |第4条（契約期間） 
    br
    | 1.本契約の期間は、乙が採択を行なってから１年間とする。 
    br
    | 2.本契約は期間の満了をもって終了するものとする。また、その他乙からの業務終了依頼があった場合、甲はそれを特別な事由を除き、承諾するものとする。
    br
    br
    |第5条（再委託の禁止） 甲は乙に対し、事前に通知することなしに、本業務の全部または一部を第三者に再委託してはならない。但し、乙が承諾したときは、この限りではない。
    br
    br
    |第6条（秘密保持） 甲は本契約に関して知り得た情報を、本契約期間中または期間満了後を問わず、漏洩してはならない。
    br
    br
    |第7条（契約解除） 甲または乙は、相手方が以下の次号に該当すると認めたときは、催告または催告に代わる手続きを要することなく、直ちに本契約の全部または一部を解除できるものとする。
    br
    | (1) 自ら振り出した手形または小切手が不渡り処分を受ける等、支払停止の状態に至った場合。
    br
    | (2) 差押え、仮差押え、仮処分、競売または強制執行の申し立てを受けた場合。
    br
    | (3) 破産手続開始、民事再生手続開始または会社更生手続開始の申し立てを受け、または自らこれらの申し立てをした場合。
    br
    | (4) 当事者間の信頼関係を著しく損ない、本契約を継続しがたい重大な事由が発生した場合。
    br
    | (5) その他乙が甲に対し、業務を委託することが困難と判断する場合
    br
    br
    |第8条（反社会勢力との取引の禁止） 甲及び乙は、反社会勢力の構成員もしくは、これらに準ずる者と取引してはならない。
    br
    br
    |第9条（協議） 本契約に定めのない事項または本契約に関して疑義が生じたときは、甲乙協議のうえ決定するものとする。
    br
    br

  == render 'form'
