br
=image_tag 'contact.gif', width: '100%'

.tops-wrapper.center
h1.headline  お問い合わせ頂きありがとうございました。

p
  | ３営業日以内に採用可否をメールにてお送り致します。
  | 回答まで少々お待ち下さいませ。
p
   = link_to "トップページへ戻る", "/"
br
br

=image_tag 'question3.png', width: '70%', class: 'center'
