meta[charset="uft-8"]
meta[http-equiv="X^UA-Compatible" content="IE=edge"]
meta[name="google-site-verification" content="sNFIkUT2BafOhtUULy_tHZ7G_4X0oho8joY8ekeNiOo"]
meta[name="viewport" content="width=device-width, initial-scale=1,0, initial-scale=1, shrink-to-fit=no"]
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all'
= stylesheet_link_tag rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
/script[src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"]
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

/= stylesheet_link_tag "https://unpkg.com/swiper/swiper-bundle.min.css"
/= javascript_include_tag "https://unpkg.com/swiper/swiper-bundle.min.js"


= display_meta_tags(default_meta_tags)
= favicon_link_tag('favicon.ico')